@import "./basic.scss";

* {
  @include basic();
}
.footer {
  display: flex;
  width: 100%;
  background: #01403a;

  padding: 25px;
  justify-content: space-evenly;
}

.footer div {
  padding: 10px;
}
.footer h1 {
  color: white;
  margin-bottom: 10px;
}

.footer ul {
  list-style-type: none;
}
.footer ul li {
  margin: 5px;
}
