@import "./basic.scss";

* {
  @include basic();
}

@mixin page {
  color: white;
  padding: 25px;

  border-top: 2px solid white;
}

@mixin page_topic {
  opacity: 0.8;
  padding: 10px;
  margin-bottom: 100px;
  text-align: center;
  background: #282b86;
}

.hello__topic {
  @include page();
}

.hello__topic h2 {
  @include page_topic();
}
