@import "./basic.scss";

* {
  @include basic();
}

.hello {
  background: black;
  color: white;
  padding: 35px;
}

.hello h2 {
  text-align: center;
  background: darkslategray;
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 8px;
  &:hover {
    background: green;
  }
}

.hello p {
  margin-bottom: 75px;
}
