@import "./basic.scss";

* {
  @include basic();
}

.simple__counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 450px;
  background: black;
  width: 100%;
}

.counter__container {
  background: grey;
  width: 45%;
  border-radius: 10px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  padding: 25px;
  align-content: center;
  align-items: center;

  & h1 {
    margin-bottom: 10px;
  }

  & Button {
    width: 100%;
    margin-bottom: 10px;
  }
}
